<!DOCTYPE html>
<html>
  <head>
    <title>5000 Stars - A-Frame</title>
    <meta name="description" content="5000 Stars - A-Frame">
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://rawgit.com/ngokevin/aframe-particle-system-component/d58edfe4e8f84a04eeb50c4e4cebf081d4e26e2d/dist/aframe-particle-system-component.min.js"></script>
    <script src="https://rawgit.com/donmccurdy/aframe-extras/3bdbbb7405ba10dda3e00977d795546a53be4b5d/dist/aframe-extras.loaders.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-entity particle-system="particleCount: 15000; preset: dust; maxAge: 3; texture: https://ucarecdn.com/d9699a61-4bd8-4699-9966-4118715db5f8/; size: 1.4; velocityValue: 0 4 0" position="0 15 -5"></a-entity>
      <a-entity ply-model="src: https://ucarecdn.com/c2d8adc1-47c8-4c32-83b1-d1369fde79bc/" position="7 -4 -25" scale=".8 .8 .8" rotation="-90 0 0"></a-entity>
      <a-sky color="#24CAFF"></a-sky>
      <a-light type="ambient" color="#FFF"></a-light>
      <a-light type="directional" color="#BBB" position="-1 1 0"></a-light>  
    </a-scene>
  </body>
</html>




<!-- Embed Code -->
<div class="glitch-embed-wrap" style="height: 420px; width: 100%;">
    <iframe
      src="https://glitch.com/embed/#!/embed/boundless-four-walnut?path=index.html&previewSize=0"
      title="boundless-four-walnut on Glitch"
      allow="geolocation; microphone; camera; midi; encrypted-media; xr-spatial-tracking; fullscreen"
      allowFullScreen
      style="height: 100%; width: 100%; border: 0;">
    </iframe>
  </div>