[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
tweepy = "*"
scikit-learn = "*"
jinja2 = "*"
tensorflow = "*"
keras = "*"
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
